%p
  = "Hello #{@user.username}"

%p
  = "The Anime '#{@anime.name}' you added has been modified by the user called '#{@other_user.username}'."

%p
  = "Please check "
  = link_to "here", @anime
  = " if the changes are acceptable. Otherwise please change them back."

%p
  = "Best regards from the 'Anime-List' creator"
  %br= "jh"
