%tr
  %td
    = link_to anime_path(anime) do
      = image_tag anime.try(:image_path), width: 62, height: 75

  %td
    = link_to anime.name, anime

  %td
    = anime.target_audience.order(:name).map(&:name).join(', ')

  %td
    = anime.genres.order(:name).map(&:name).join(', ')

  %td.text-center
    = anime.episodes #+ (anime.ova_episodes || 0)

  %td.text-center
    = check_box_tag '', '', anime.finished?, disabled: true

  %td.hidden-md.hidden-sm.hidden-xs
    = truncate(anime.comment, length: 50)

  %td.text-center
    = anime.ratings.to_a.count

  %td.text-center
    - rating = anime.average_rating
    = rating.present? ? rating : '-'

  - if user_signed_in?
    %td.text-center
      - my_rating = current_user.get_rating_for(anime).try(:rating)
      = my_rating.present? ? my_rating : '-'
  
  %td.text-center
    - if user_signed_in?
      -# update if already existing or create rating
      = form_for current_user.get_rating_for(anime) || anime.ratings.build do
        = hidden_field_tag :anime_id, anime.id, id: "anime_id_#{anime.id}"
        - Anime::MAX_RATING.times do |x|
          - my_rating = current_user.get_rating_for(anime).try(:rating)
          = radio_button_tag :rating, x+1, (x+1) == my_rating, {id: "anime_rating_#{anime.id}_#{x}"}
          = label_tag "anime_rating_#{anime.id}_#{x}", x+1
        = submit_tag 'Rate', class:'btn btn-primary btn-xs'

  %td.text-center
    - if user_signed_in?
      = link_to anime_path(anime), class:'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-eye-open
      = link_to edit_anime_path(anime), class:'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-pencil
      - if (anime.user == current_user) || current_user.is_admin
        = link_to anime, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' do
          %span.glyphicon.glyphicon-trash
