<tr>
  <td class=''><%=link_to anime.name, anime%></td>

  <td class=''><%= anime.genres.map(&:name).join(", ") %></td>

  <td class='text-center'><%= anime.episodes %></td>

  <% if anime.finished %>
    <td class='text-center'> <input type='checkbox' checked='true' disabled='disabled'> </td>
  <% else %>
    <td class='text-center'> <input type='checkbox' disabled='disabled'> </td>
  <% end %>

  <td class=''><%= anime.description %></td>

  <td class='text-center'>
    <%= anime.ratings.count.zero? ? anime.rating : anime.average_rating %>
  </td>

  <td class='text-center'>

    <% if user_signed_in? %>
      <%= form_for(anime) do |f| %>
        <%= f.radio_button :rating, 1 %> <%= label_tag :rating, '1' %>
        <%= f.radio_button :rating, 2 %> <%= label_tag :rating, '2' %> 
        <%= f.radio_button :rating, 3 %> <%= label_tag :rating, '3' %>
        <%= f.radio_button :rating, 4 %> <%= label_tag :rating, '4' %>
        <%= f.radio_button :rating, 5 %> <%= label_tag :rating, '5' %>
        <%= f.radio_button :rating, 6 %> <%= label_tag :rating, '6' %>

      <td class='text-center'>
        <%= f.submit 'Rate', class:'btn btn-primary btn-xs' %>
        <%= link_to 'Edit', edit_anime_path(anime), class:'btn btn-default btn-xs' %>
        <%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
      </td>
        
      <% end %>

    <% end %>

  </td>

</tr>