%tr
  %td= link_to anime.name, anime

  %td= anime.genres.order(:name).map(&:name).join(", ")

  %td.text-center= anime.episodes

  %td.text-center
    = check_box_tag '', '', anime.finished?, disabled: true

  %td= anime.description

  %td.text-center
    = anime.ratings.to_a.count.zero? ? anime.rating : anime.average_rating

  - if user_signed_in?
    %td.text-center
      = current_user.get_rating_for(anime).nil? ? '-' : current_user.get_rating_for(anime).rating
  
  %td.text-center
    - if user_signed_in?
      -# update if already existing or create rating
      = form_for current_user.get_rating_for(anime) || anime.ratings.build do
        = hidden_field_tag :anime_id, anime.id, id: "anime_id_#{anime.id}"
        - Anime::MAX_RATING.times do |x|
          - your_rating = current_user.ratings.find_by(anime_id: anime.id).try(:rating)
          = radio_button_tag :rating, x+1, (x+1) == your_rating, {id: "anime_rating_#{anime.id}_#{x}"}
          = label_tag "anime_rating_#{anime.id}_#{x}", x+1
        = submit_tag 'Rate', class:'btn btn-primary btn-xs'

  %td.text-center{style: 'vertical-align: middle'}
    - if user_signed_in?
      = link_to 'Edit', edit_anime_path(anime), class:'btn btn-default btn-xs'
      = link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'
