<%= form_for(@anime) do |f| %>
  <% if @anime.errors.present? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
      <% @anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field form-group">
    <%= f.label :genres %><br>
    <%= f.collection_select :genre_ids, @genres, :id, :name, {}, {class:'selectpicker', multiple:true} %> 
  </div>
  <div class="field form-group">
    <%= f.label :episodes %><br>
    <%= f.number_field :episodes, value:@anime.episodes, size:10 %>
  </div>
  <div>
    <%= f.label :finished %><br>
    <%= f.check_box :finished, value:@anime.finished %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <% if @anime.new_record? %>
    <div class="field form-group">
      <%= f.label "Initial Rating" %><br>
      <%= f.number_field :rating, value:@anime.rating, min:1, max:6, step:'any'%>
    </div>
  <% end %>
  <div class="actions form-group">
    <%= f.submit class:'btn btn-primary' %>
  </div>

<% end %>
