= form_for @anime, role: 'form' do |f|

  - if @anime.errors.present?
    #error_explanation
      %h2= pluralize(@anime.errors.count, "error") + " prohibited this anime from being saved:"
      %ul
        - @anime.errors.full_messages.each do |message|
          %li= message

  .col-md-6
    .field.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'

    .field.form-group
      = f.label :genres, 'Genres (use shift or ctrl to select multiple)'
      = f.collection_select :genre_ids, @genres, :id, :name, {}, {class: 'selectpicker form-control', multiple: true}

    .col-md-12{style: 'padding: 0px 0px;'}
      .field.form-group.col-md-4{style: 'padding-left: 0px;'}
        = f.label :episodes
        = f.number_field :episodes, value: @anime.episodes || 0, size: 10, class: 'form-control'

      .field.form-group.col-md-4{style: 'padding-left: 0px;'}
        = f.label :ova_episodes, 'OVAs'
        = f.number_field :ova_episodes, value: @anime.ova_episodes || 0, size: 10, class: 'form-control'

      .field.form-group.col-md-4{style: 'padding-left: 0px;'}
        = f.label :special_episodes, 'Specials'
        = f.number_field :special_episodes, value: @anime.special_episodes || 0, size: 10, class: 'form-control'

    .field.form-group.form-inline
      = f.label :finished
      = f.check_box :finished, value: @anime.finished, class: 'form-control', style: 'width: 20px; height: 20px; margin-left: 15px; margin-bottom:  5px;'

    .field.form-group
      = f.label :comment, 'Comment (short personal opinion)'
      = f.text_area :comment, class: 'form-control', style: 'height: 50px;'

    .field.form-group
      = f.label :description, 'Description (Plot Summary)'
      = f.text_area :description, class: 'form-control', style: 'height: 110px;'

    - if @anime.new_record?
      .field.form-group
        = f.label :rating, "Initial Rating (6 = Best)"
        = f.number_field :rating, value: 3, min: 1, max: Anime::MAX_RATING, step: 'any', class: 'form-control'

    .actions.form-group
      = f.submit class:'btn btn-primary form-control'
