.row.title-div
  %h1= "Anime-List"

.row.table-nav
  -# Letter list
  .col-md-6
    .letter-list
      = link_to animes_path do
        - if params[:order_by_letter].present?
          = "Alle"
        - else
          %u= "Alle"

      = link_to animes_path(order_by_letter: '#'), class: 'letter' do
        - if params[:order_by_letter] == '#'
          %u= '#'
        - else
          = '#'

      - ('A'.. 'Z').each do |letter|
        = link_to animes_path(order_by_letter: letter), class: 'letter' do
          - if params[:order_by_letter] == letter
            %u= letter
          - else
            = letter

  -# search form
  .col-md-6
    .search-form.pull-right
      = form_tag animes_path, method:'get', class: 'form-inline' do
        = text_field_tag :search, params[:search], class: 'form-control'
        = submit_tag 'Search', name:nil, class: 'form-control btn btn-default'

-# anime list
.row.anime-list
  %table.table.table-striped
    %thead.anime-list-header
      = render "anime_list_header"

    %tbody.anime-list-body
      = render @animes

  .row.anime-list-footer
    -# pageinator
    .col-md-5
      - if @animes.any?
        = render 'paginator'

    -# Import Animes
    .col-md-5
      - if user_signed_in? && current_user.is_admin?
        .import-anime
          %h3{style: 'margin-top: 0px; margin-bottom: 0px;'}
            = "Import Animes"
          = form_tag import_animes_path, multipart:true do
            = file_field_tag :file, style: 'display: inline'
            = submit_tag "Import", class: 'btn btn-primary', style: 'margin-top: -25px;'

    -# 'Add Anime' button
    .col-md-2
      - if user_signed_in?
        .add-anime-button
          = link_to 'Add Anime', new_anime_path, class:'btn btn-primary pull-right'

.row.content-footer{style: 'margin-top: -25px; margin-bottom: 20px;'}
  -# Random pictures
  .col-md-12
    = link_to '' do
      = image_tag 'rainbow.png', class: 'pull-left mirrored'
      = image_tag 'rainbow.png', class: 'pull-right'
