%p#notice= notice

- if @anime.present?
  %div.col-md-3
    %div
      = image_tag @anime.try(:image_url), width: 220

    %div
      = link_to 'Animes', animes_path
      |
      = link_to 'Edit', edit_anime_path(@anime)
      |
      = link_to 'Back', :back

  %div.col-md-9
    %h2
      %strong= @anime.name

    %p
      %strong Genre:
      = @anime.genres.map(&:name).join(', ')

    %p
      %strong Episodes:
      = @anime.episodes

    %p
      %strong Finished:
      - if @anime.finished
        %input{type: 'checkbox', checked: 'true', disabled: 'true'}
      - else
        %input{type: 'checkbox', disabled: 'true'}

    %p
      %strong Description:
      = @anime.description

    %p
      %strong Comment:
      = @anime.comment

    %p
      %strong Number of Ratings:
      = @anime.ratings.to_a.count

    %p
      %strong Average Rating:
      = @anime.ratings.to_a.count.zero? ? '-' : @anime.average_rating

    - if user_signed_in?
      %p
        %strong My Rating:
        - rating = Rating.find_by(anime_id: @anime).rating 
        = rating.present? ? rating : '-'

    %p
      %strong Anime added by:
      = @anime.user.present? ? @anime.user.username : '-'
