%p#notice= notice

%div.col-md-3
  %div
    - url = 'http://cdn.chia-anime.tv/content/cache2/' + @anime.name.gsub(' ', '-') + '.jpg'
    = image_tag url, width: 220
  
  %div
    = link_to 'Animes', animes_path
    |
    = link_to 'Edit', edit_anime_path(@anime)
    |
    = link_to 'Back', :back

%div.col-md-9
  %h2
    %strong= @anime.name

  %p
    %strong Genre:
    = @anime.genres.map(&:name).join(', ')
 
  %p
    %strong Episodes:
    = @anime.episodes

  %p
    %strong Finished:
    - if @anime.finished
      %input{type: 'checkbox', checked: 'true', disabled: 'true'}
    - else
      %input{type: 'checkbox', disabled: 'true'}

  %p
    %strong Description:
    = @anime.description

  %p
    %strong Comment:
    = @anime.comment

  %p
    %strong Number of Ratings:
    = @anime.ratings.to_a.count

  %p
    %strong Average Rating:
    = @anime.ratings.to_a.count.zero? ? '-' : @anime.average_rating

  %p
    %strong Anime added by:
    = @anime.user.present? ? @anime.user.username : '-'
