- if @anime.present?
  .row.title-div
    .col-md-12
      %h1
        = @anime.name

  .row.show-anime
    .col-md-3{style: 'padding-left: 0px;'}
      %div
        = image_tag @anime.try(:image_path), width: 220

      %div
        = link_to 'Animes', animes_path
        - if user_signed_in?
          |
          = link_to 'Edit', edit_anime_path(@anime)
        |
        = link_to 'Back', :back

    .col-md-8{style: 'padding-left: 0px;'}
      %p
        %strong Target Audience:
        = @anime.target_audience.map(&:name).join(', ')

      %p
        %strong Genres:
        = @anime.genres.map(&:name).join(', ')

      %p
        %strong Finished:
        - if @anime.finished
          %input{type: 'checkbox', checked: 'true', disabled: 'true'}
        - else
          %input{type: 'checkbox', disabled: 'true'}

      %p
        %strong Episodes:
        = @anime.episodes

      %p{style: 'margin-left: 15px;'}
        %strong OVAs:
        = @anime.ova_episodes || 0

      %p{style: 'margin-left: 15px;'}
        %strong Specials:
        = @anime.special_episodes || 0

      %p
        %strong Average Rating:
        = @anime.ratings.to_a.count.zero? ? '-' : @anime.average_rating

      %p
        %strong Number of Ratings:
        = @anime.ratings.to_a.count || 0

      - if user_signed_in?
        %p
          %strong My Rating:
          - rating = Rating.find_by(anime_id: @anime, user_id: current_user).try(:rating)
          = rating.present? ? rating : '-'

        %p
          %strong Anime added by:
          = @anime.user.present? ? @anime.user.username : '-'

    .col-md-1
      - if user_signed_in?
        -# update if already existing or create rating
        .form{style: 'padding-left: 20px; margin-top: 50px;'}
          = form_for current_user.get_rating_for(@anime) || @anime.ratings.build do
            = hidden_field_tag :anime_id, @anime.id, id: "anime_id_#{@anime.id}", source: 'random_anime'
            - Anime::MAX_RATING.times do |x|
              - my_rating = current_user.ratings.find_by(anime_id: @anime.id).try(:rating)
              %div
                = radio_button_tag :rating, x+1, (x+1) == my_rating, {id: "anime_rating_#{@anime.id}_#{x}"}
                = label_tag "anime_rating_#{@anime.id}_#{x}", x+1
            = submit_tag 'Rate', class:'btn btn-primary btn-xs'
            - rating = Rating.find_by(user_id: current_user, anime_id: @anime)
            - if rating.present?
              = link_to 'Delete Rating', rating_path(rating), method: :delete, class: 'btn btn-danger btn-xs', style: "margin-left: -24px;"

  .row.anime-text{style: 'margin-top: 10px;'}
    - if @anime.comment.present?
      .col-md-12
        %p
          %strong Comment:
          = @anime.comment || '-'

    - if @anime.description.present?
      .col-md-12
        %p
          %strong Description:
          = @anime.description || '-'
