<p id="notice"><%= notice %></p>

<div class='col-md-3 col-xs-12'>
  <div>
    <% url = 'http://cdn.chia-anime.tv/content/cache2/' + @anime.name.gsub(' ', '-') + '.jpg' %>
    <%= image_tag url, width: 250 %>
  </div>

  <div>
    <%= link_to 'Animes', animes_path %> |
    <%= link_to 'Edit', edit_anime_path(@anime) %> |
    <%= link_to 'Back', :back %>
  </div>
</div>

<div class='col-md-9 col-xs-12'>
  <h2>
    <strong><%= @anime.name %></strong>
  </h2>

  <p>
    <strong>Genre:</strong>
    <%= @anime.genres.map(&:name).join(', ') %>
  </p>

  <p>
    <strong>Episodes:</strong>
    <%= @anime.episodes %>
  </p>

  <p>
    <strong>Finished:</strong>
    <% if @anime.finished %>
      <input type='checkbox' checked='true' disabled='true'>
    <% else %>
      <input type='checkbox' disabled='true'>
    <% end %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @anime.description %>
  </p>

  <p>
    <strong>Average Rating:</strong>
    <%= @anime.ratings.to_a.count.zero? ? '-' : @anime.average_rating %>
  </p>

</div>
