%tr
  %td
    = image_tag anime.try(:image_url), width: 200, height: 250

  %td{style: 'vertical-align: middle'}
    = link_to anime.name, anime

  %td{style: 'vertical-align: middle'}
    = anime.genres.order(:name).map(&:name).join(", ")

  %td.text-center{style: 'vertical-align: middle'}
    = anime.episodes

  %td.text-center{style: 'vertical-align: middle'}
    = check_box_tag '', '', anime.finished?, disabled: true
  
  %td{style: 'vertical-align: middle'}
    = truncate(anime.comment, length: 50)

  %td.text-center{style: 'vertical-align: middle'}
    = anime.ratings.to_a.count

  %td.text-center{style: 'vertical-align: middle'}
    - rating = anime.average_rating
    = rating.present? ? rating : '-'

  - if user_signed_in?
    %td.text-center{style: 'vertical-align: middle'}
      - my_rating = current_user.get_rating_for(anime).try(:rating)
      = my_rating.present? ? my_rating : '-'
  
  %td.text-center{style: 'vertical-align: middle'}
    - if user_signed_in?
      -# update if already existing or create rating
      = form_for current_user.get_rating_for(anime) || anime.ratings.build do
        = hidden_field_tag :anime_id, anime.id, id: "anime_id_#{anime.id}"
        - Anime::MAX_RATING.times do |x|
          - my_rating = current_user.get_rating_for(anime).try(:rating)
          = radio_button_tag :rating, x+1, (x+1) == my_rating, {id: "anime_rating_#{anime.id}_#{x}"}
          = label_tag "anime_rating_#{anime.id}_#{x}", x+1
        = submit_tag 'Rate', class:'btn btn-primary btn-xs'

  %td.text-center{style: 'vertical-align: middle'}
    - if user_signed_in?
      = link_to 'Edit', edit_anime_path(anime), class:'btn btn-default btn-xs'
      - if (anime.user == current_user) || current_user.is_admin
        = link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs'

  