<tr>
  <td class=''>
    <% url = 'http://cdn.chia-anime.tv/content/cache2/' + anime.name.gsub(' ', '-') + '.jpg' %>
    <%= image_tag url, width: 200, height: 250 %>
  </td>

  <td style='vertical-align: middle'><%=link_to anime.name, anime%></td>

  <td style='vertical-align: middle'><%= anime.genres.order(:name).map(&:name).join(", ") %></td>

  <td class='text-center' style='vertical-align: middle'><%= anime.episodes %></td>

  <% if anime.finished %>
    <td class='text-center' style='vertical-align: middle'> <input type='checkbox' checked='true' disabled='true'> </td>
  <% else %>
    <td class='text-center' style='vertical-align: middle'> <input type='checkbox' disabled='true'> </td>
  <% end %>

  <td style='vertical-align: middle'><%= anime.description %></td>

  <td class='text-center' style='vertical-align: middle'>
    <%= anime.ratings.to_a.count.zero? ? anime.rating : anime.average_rating %>
  </td>

  <% if user_signed_in? %>
    <td class='text-center' style='vertical-align: middle'>
      <%= current_user.get_rating_for(anime).nil? ? '-' : current_user.get_rating_for(anime).rating %>
    </td>
  <% end %>
  
  <td class='text-center' style='vertical-align: middle'>
    <% if user_signed_in? %>
      <!-- update if already existing or create rating -->
      <%= form_for current_user.get_rating_for(anime) || anime.ratings.build do %>
        <%= hidden_field_tag :anime_id, anime.id, id: "anime_id_#{anime.id}" %>
        <% Anime::MAX_RATING.times do |x| %>
          <%= radio_button_tag :rating, x+1, false, {id: "anime_rating_#{anime.id}_#{x}"} %>
          <%= label_tag "anime_rating_#{anime.id}_#{x}", x+1 %>
        <% end %>

        <%= submit_tag 'Rate', class:'btn btn-primary btn-xs' %>

      <% end %>

    <% end %>
  </td>

  <td class='text-center' style='vertical-align: middle'>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_anime_path(anime), class:'btn btn-default btn-xs' %>
      <%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %>
    <% end %>
  </td>

</tr>
  