<!DOCTYPE html>
<html>

<head>
  <title>Anime-List</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<!-- <ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol> -->

<div class='container'>
	<div class='row'>

		<!-- navigator header -->
		<div class='col-md-6 col-xs-12'>
			<ul class="nav nav-pills">
			  <li role="presentation" class="<%= @section == 'animes' ? 'active' : 'inactive'%>"> <%= link_to 'Animes', animes_path %> </li>
			  <li role="presentation" class="<%= @section == 'top10' ? 'active' : 'inactive'%>"> <%= link_to 'Top10', top10_path %> </li>
			</ul>
		</div>

		<!-- login -->
		<% if user_signed_in? %>
			<div class='col-md-4 col-md-offset-2 col-xs-12'>
				Signed in as: <b><%= current_user.email %></b>
				<%= link_to 'Log Out', destroy_user_session_path, method: :delete, confirm:'Are you sure you want to log out?' %>
			</div>
		<% else %>
		  <% unless devise_controller? %>
				<div class='col-md-6 col-xs-12'>
					<%= form_tag session_path(:user), class: "form-inline" %>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputEmail3">Email address</label>
					    <%= email_field_tag "user[email]", "", class: "form-control", placeholder: "Email" %>
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <%= password_field_tag "user[password]", "", class: "form-control", placeholder: "Password" %>
					  </div>
					  <div class="checkbox">
					    <label>
					    	<%= check_box_tag "user[remember_me]" %>
					    	<%= label_tag "user[remember_me]", "Remember me" %>
					    </label>
					  </div>
					  <%= submit_tag "Sign in", class: "btn btn-success" %>
					</form>
				</div>
			<% end %>
		<% end %>
		
	</div>

	<div class='row'>
	
		<!-- main content (index.html) -->
		<div class='col-md-12 col-xs-12'> <%= yield %> </div>

	</div>
</div>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


</body>

</html>