!!!
%html
  %head
    %title Anime-List
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# on Windows: use defaults instead of application
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .wrapper.fixed-width
      .row.col-md-12
        -# navigator header
        .col-md-5
          = render '/layouts/navigation'

        -# login header
        .col-md-7
          = render '/layouts/login'

      -# flash notifications and alerts
      .row.col-md-12.fixed-width
        = render '/layouts/flashes'

      -# main content (index.html)
      .container.content-wrapper
        .row.content
          = yield
